.mainbox {
  max-width: 80%;

  margin: 60px auto;
}

.titlebox {
  display: inline-flex;
  align-items: center;

  width: 100%;
  height: 120px;
  margin: 10px 0;

  overflow-x: hidden;
}

.titlebox__light {
  background-color: #E7EAED;
}

.number {
  width: 20px;
  margin: 0% 5%;
}

.titlefoto {
  max-width: 200px;
  margin: 0% 5%;
}

.title {
  margin: 0% 5%;
}
