.mainbox {
  max-width: 970px;
  max-height: 100%;

  margin: 0 auto;
  background-color: #E7EAED;
}


.background {
  background-image: url("Images/elf.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: scroll;

  max-width: 100%;
  height: 300px;
  margin-top: 5%;

  color: white;
  font-size: 300%;
  font-weight: bold;

  z-index: 500;
}

.topbooks, .latest, .newBooks {
  max-width: 100%;
  height: 200px;
  align-items: center;

  margin: 30px 0;
  padding: 15px 0;
}

.slider {
  display: flex;
  justify-content: space-between;
}

.slider__item {
  max-width: 22%;
  margin: 0 0.5%;
}

.slide__image {
  max-width: 100%;
}

.slider__title {
  font-size: 120%;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
}


.genresbtn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 150px;
  margin:1% 5%;

  background-color: #F8FAFB;
  box-shadow: 0 0 5px 10px #F8FAFB;

}

.genrerow {
  display: inline-flex;
  justify-content: space-around;
}

.genrechoise {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 0.5% 2%;
}

.genrechoise:hover {
  background-color: #E7EAED;
}

@media (max-width:780px) {
  .mainbox {
    width: 90%;
    margin: 0 auto;
  }
  .topbooks, .latest, .newBooks {
    height: 80px;
    margin: 0 0 40px 0;
  }
  .slide__image {
    margin: 0 0.5%;
    max-height: 80px
   }
  .genresbtn {
    margin: 15px 0;
    height: 150px;
  }
}
